<html>
<head>
    <link rel="stylesheet" href="{{ url_for ('static', filename='style.css')}}" />
    <script src="{{ url_for ('static', filename='action.js')}}"></script>
</head>
<body>
    <h1 id="header">XYZ Bank</h1>
    <div class="form-1">
        <div id="label-1">
            <label>Enter your Cibil Score</label>
        </div>

        <form id="cibil-form">
            <input type="number" placeholder="Cibil score" id="input-1" />
            <br />
            <button class="button-1" type="submit">Submit</button>

        </form>

    </div>

    <div class="show form-2" id="showDetail">
        <div id="label-2">
            <label>Fill the Details for Loan Amount</label>
            <form id="loan-form">
                <input type="number" placeholder="Annual Income" id="input-2" />
                <input type="number" placeholder="Total Luxury Item Value" id="input-3" />
                <input type="number" placeholder="Bank assests Value" id="input-4" />
                <input type="number" placeholder="Commercial Assests Value" id="input-5" />
                <input type="number" placeholder="Resident Assests Value" id="input-6" />
                <br />
                <button class="button-2" type="submit">Calculate</button>

            </form>
            <div id="loan_value">
                <label id="loan-amount"></label>
            </div>
        </div>

    </div>
    
</body>
</html>
